<?xml version="1.0" encoding="UTF-8"?>
<HGSettings version="1">
	<AutoBackupSave>
		<Strings>
		</Strings>
		<Ints>
			<backupCount>2</backupCount>
			<backupEnabled>1</backupEnabled>
			<saveEnabled>1</saveEnabled>
			<saveTime>15</saveTime>
		</Ints>
	</AutoBackupSave>
	<CalendarDlg>
		<Strings>
		</Strings>
		<Ints>
			<Reminders>0</Reminders>
			<UseMAPI>0</UseMAPI>
		</Ints>
	</CalendarDlg>
	<Default>
		<Strings>
			<CompStampStrFail><![CDATA[Re-inspected *date* *Fail-comments*]]></CompStampStrFail>
			<DeviceDir><![CDATA[]]></DeviceDir>
			<InspectorCompany><![CDATA[MKC Associates LLC]]></InspectorCompany>
			<InspectorContact><![CDATA[20 Brattle Place
Arlington, MA 02474-2909
888-652-4677
]]></InspectorContact>
			<InspectorLicense><![CDATA[MA Home Inspector License #825]]></InspectorLicense>
			<InspectorName><![CDATA[Jack Mason]]></InspectorName>
			<InspectorOtherLicense><![CDATA[Wood Destroying Insect]]></InspectorOtherLicense>
			<InspectorPestLicense><![CDATA[90143]]></InspectorPestLicense>
			<InspectorRadonLicense><![CDATA[107920 RT]]></InspectorRadonLicense>
			<PATH><![CDATA[C:\Users\jmason\Google Drive\HG]]></PATH>
			<PrintFileDir><![CDATA[C:\Users\jmason\Desktop]]></PrintFileDir>
			<SHGIName><![CDATA[jack@mkchi.com]]></SHGIName>
			<SHGIPassword><![CDATA[j9799106]]></SHGIPassword>
			<lastAgreement><![CDATA[C:\Users\jmason\Documents\HomeGauge\html5\agreement.html]]></lastAgreement>
			<lastAgreementDesc><![CDATA[Agreement]]></lastAgreementDesc>
			<lastTemplate><![CDATA[MKCQ4e18.ht5]]></lastTemplate>
			<lastTemplateCat><![CDATA[Residential]]></lastTemplateCat>
			<picDir><![CDATA[C:\Users\jmason\Documents\Inspections\2018\2018.10\7 Lowell Terrace 20181015]]></picDir>
			<picDir2><![CDATA[C:\Users\jmason\Google Drive\HG\Drawings]]></picDir2>
		</Strings>
		<Ints>
			<AllowIIWrap>1</AllowIIWrap>
			<CommentsAddPara>1</CommentsAddPara>
			<CommentsAllowWordWrap>1</CommentsAllowWordWrap>
			<CommentsAutoPicDescCaption>0</CommentsAutoPicDescCaption>
			<CommentsAutoSSReplace>0</CommentsAutoSSReplace>
			<CommentsAutoSTReplace>1</CommentsAutoSTReplace>
			<CommentsDblClkItemized>1</CommentsDblClkItemized>
			<CommentsItemizeAutoInc>1</CommentsItemizeAutoInc>
			<CommentsPromptCat>1</CommentsPromptCat>
			<ContactFilter>2</ContactFilter>
			<IgnoreCheckedColsOnDlbClk>1</IgnoreCheckedColsOnDlbClk>
			<IncludePhotoLockerInCloudTransfer>0</IncludePhotoLockerInCloudTransfer>
			<PreviewNonModal>1</PreviewNonModal>
			<SendLoginInfo>1</SendLoginInfo>
			<ShowWelcomeData>1</ShowWelcomeData>
			<SpellAutoDisable>1</SpellAutoDisable>
			<SpellCaps>1</SpellCaps>
			<SpellDoubleCaps>1</SpellDoubleCaps>
			<SpellEnglish>1</SpellEnglish>
			<SpellNumbers>1</SpellNumbers>
			<SpellSilentDisable>1</SpellSilentDisable>
			<SpellURLs>1</SpellURLs>
			<Theme>1</Theme>
			<ToolbarText>1</ToolbarText>
			<UseDefBrowser>1</UseDefBrowser>
			<UseFlirEditor>1</UseFlirEditor>
			<UsePhotoLocker>0</UsePhotoLocker>
			<estimates>0</estimates>
			<license>0</license>
			<showSSTab>1</showSSTab>
			<showStatusBar>1</showStatusBar>
			<showTemplateToolbar>1</showTemplateToolbar>
			<skipExcludedSections>1</skipExcludedSections>
			<unansweredCover>1</unansweredCover>
			<unansweredEmptyII>1</unansweredEmptyII>
			<unansweredExcluded>1</unansweredExcluded>
			<unansweredFlagged>1</unansweredFlagged>
			<unansweredPicPlaceHolder>1</unansweredPicPlaceHolder>
			<unansweredSSReplacements>1</unansweredSSReplacements>
			<unansweredSmartText>1</unansweredSmartText>
			<unansweredVRDone>1</unansweredVRDone>
		</Ints>
	</Default>
	<Maps>
		<Strings>
			<Address><![CDATA[]]></Address>
			<City><![CDATA[]]></City>
			<State><![CDATA[]]></State>
			<Zip><![CDATA[]]></Zip>
		</Strings>
		<Ints>
			<Language>0</Language>
			<UseDirections>0</UseDirections>
			<UseZip>0</UseZip>
		</Ints>
	</Maps>
	<PDFManager>
		<Strings>
		</Strings>
		<Ints>
			<SignatureLogo0>3</SignatureLogo0>
			<SignatureLogo1>4</SignatureLogo1>
			<UseSigLogo0>0</UseSigLogo0>
			<UseSigLogo1>0</UseSigLogo1>
			<UsesSecurity>0</UsesSecurity>
		</Ints>
	</PDFManager>
	<PictureEdit>
		<Strings>
			<ArrowsFontName><![CDATA[Arial]]></ArrowsFontName>
			<CircleFontName><![CDATA[Arial]]></CircleFontName>
			<GridFontName><![CDATA[Impact]]></GridFontName>
			<LineFontName><![CDATA[Arial]]></LineFontName>
			<RectFontName><![CDATA[Arial]]></RectFontName>
			<TextFontName><![CDATA[Arial]]></TextFontName>
		</Strings>
		<Ints>
			<ArrowsFillColor>255</ArrowsFillColor>
			<ArrowsFontBold>0</ArrowsFontBold>
			<ArrowsFontColor>0</ArrowsFontColor>
			<ArrowsFontItalic>0</ArrowsFontItalic>
			<ArrowsFontSize>12</ArrowsFontSize>
			<ArrowsFontUnderline>0</ArrowsFontUnderline>
			<ArrowsLength>20</ArrowsLength>
			<ArrowsLineColor>16777215</ArrowsLineColor>
			<ArrowsLineWidth>2</ArrowsLineWidth>
			<ArrowsUseFill>1</ArrowsUseFill>
			<ArrowsWidth>16</ArrowsWidth>
			<AutoRefresh1>1</AutoRefresh1>
			<CircleFillColor>0</CircleFillColor>
			<CircleFontBold>0</CircleFontBold>
			<CircleFontColor>0</CircleFontColor>
			<CircleFontItalic>0</CircleFontItalic>
			<CircleFontSize>12</CircleFontSize>
			<CircleFontUnderline>0</CircleFontUnderline>
			<CircleLength>0</CircleLength>
			<CircleLineColor>255</CircleLineColor>
			<CircleLineWidth>2</CircleLineWidth>
			<CircleUseFill>0</CircleUseFill>
			<CircleWidth>0</CircleWidth>
			<DefToolMode>3</DefToolMode>
			<Filter1>0</Filter1>
			<GridFillColor>0</GridFillColor>
			<GridFontBold>0</GridFontBold>
			<GridFontColor>16777215</GridFontColor>
			<GridFontItalic>0</GridFontItalic>
			<GridFontSize>14</GridFontSize>
			<GridFontUnderline>0</GridFontUnderline>
			<GridLength>0</GridLength>
			<GridLineColor>16763904</GridLineColor>
			<GridLineWidth>2</GridLineWidth>
			<GridSize>60</GridSize>
			<GridUseFill>0</GridUseFill>
			<GridWidth>0</GridWidth>
			<LineFillColor>0</LineFillColor>
			<LineFontBold>0</LineFontBold>
			<LineFontColor>0</LineFontColor>
			<LineFontItalic>0</LineFontItalic>
			<LineFontSize>12</LineFontSize>
			<LineFontUnderline>0</LineFontUnderline>
			<LineLength>0</LineLength>
			<LineLineColor>255</LineLineColor>
			<LineLineWidth>2</LineLineWidth>
			<LineUseFill>0</LineUseFill>
			<LineWidth>0</LineWidth>
			<PicDisplay1>9</PicDisplay1>
			<PicShow1>0</PicShow1>
			<PicSizeLg>400</PicSizeLg>
			<PicSizeMed>320</PicSizeMed>
			<PicSizeSm>200</PicSizeSm>
			<PicSizeXLg>500</PicSizeXLg>
			<PicSort1>1</PicSort1>
			<PictureBUSize>2048</PictureBUSize>
			<PictureRptSize>640</PictureRptSize>
			<PictureSize>200</PictureSize>
			<PictureSizeCover>320</PictureSizeCover>
			<PictureSizeOverview>320</PictureSizeOverview>
			<RectFillColor>0</RectFillColor>
			<RectFontBold>0</RectFontBold>
			<RectFontColor>0</RectFontColor>
			<RectFontItalic>0</RectFontItalic>
			<RectFontSize>12</RectFontSize>
			<RectFontUnderline>0</RectFontUnderline>
			<RectLength>0</RectLength>
			<RectLineColor>255</RectLineColor>
			<RectLineWidth>2</RectLineWidth>
			<RectUseFill>0</RectUseFill>
			<RectWidth>0</RectWidth>
			<TextFillColor>13434879</TextFillColor>
			<TextFontBold>0</TextFontBold>
			<TextFontColor>0</TextFontColor>
			<TextFontItalic>0</TextFontItalic>
			<TextFontSize>12</TextFontSize>
			<TextFontUnderline>0</TextFontUnderline>
			<TextLength>0</TextLength>
			<TextLineColor>65535</TextLineColor>
			<TextLineWidth>2</TextLineWidth>
			<TextUseFill>1</TextUseFill>
			<TextWidth>0</TextWidth>
			<ThumbWidth1>325</ThumbWidth1>
		</Ints>
	</PictureEdit>
	<RefSources>
		<Strings>
			<Ref0><![CDATA[]]></Ref0>
		</Strings>
		<Ints>
		</Ints>
	</RefSources>
	<Roles>
		<Strings>
			<Role0><![CDATA[Attorney]]></Role0>
			<Role1><![CDATA[Buyer Agent]]></Role1>
			<Role2><![CDATA[Escrow]]></Role2>
			<Role3><![CDATA[Listing Agent]]></Role3>
			<Role4><![CDATA[Listing Agent and Buyers Agent]]></Role4>
		</Strings>
		<Ints>
		</Ints>
	</Roles>
	<Settings>
		<Strings>
			<ClientSPACECity0><![CDATA[Brighton]]></ClientSPACECity0>
			<ClientSPACECity1><![CDATA[Boston]]></ClientSPACECity1>
			<ClientSPACECity10><![CDATA[CAMBRIDGE]]></ClientSPACECity10>
			<ClientSPACECity11><![CDATA[Jamaica Plain]]></ClientSPACECity11>
			<ClientSPACECity12><![CDATA[WELLESLEY]]></ClientSPACECity12>
			<ClientSPACECity13><![CDATA[North Reading]]></ClientSPACECity13>
			<ClientSPACECity14><![CDATA[Wakefield]]></ClientSPACECity14>
			<ClientSPACECity15><![CDATA[Medford]]></ClientSPACECity15>
			<ClientSPACECity16><![CDATA[MARSHFIELD]]></ClientSPACECity16>
			<ClientSPACECity17><![CDATA[]]></ClientSPACECity17>
			<ClientSPACECity2><![CDATA[Cambridge]]></ClientSPACECity2>
			<ClientSPACECity3><![CDATA[East Boston]]></ClientSPACECity3>
			<ClientSPACECity4><![CDATA[boston]]></ClientSPACECity4>
			<ClientSPACECity5><![CDATA[Watertown]]></ClientSPACECity5>
			<ClientSPACECity6><![CDATA[Somerville]]></ClientSPACECity6>
			<ClientSPACECity7><![CDATA[Watertown MA]]></ClientSPACECity7>
			<ClientSPACECity8><![CDATA[Quincy]]></ClientSPACECity8>
			<ClientSPACECity9><![CDATA[Lynnfield]]></ClientSPACECity9>
			<ClientSPACECountry0><![CDATA[Suffolk]]></ClientSPACECountry0>
			<ClientSPACECountry1><![CDATA[US]]></ClientSPACECountry1>
			<ClientSPACECountry2><![CDATA[]]></ClientSPACECountry2>
			<ClientSPACEState0><![CDATA[MA]]></ClientSPACEState0>
			<ClientSPACEState1><![CDATA[WI]]></ClientSPACEState1>
			<ClientSPACEState2><![CDATA[FL]]></ClientSPACEState2>
			<ClientSPACEState3><![CDATA[]]></ClientSPACEState3>
			<ClientSPACEZips0><![CDATA[02143]]></ClientSPACEZips0>
			<ClientSPACEZips1><![CDATA[02144]]></ClientSPACEZips1>
			<ClientSPACEZips10><![CDATA[01940]]></ClientSPACEZips10>
			<ClientSPACEZips11><![CDATA[02130]]></ClientSPACEZips11>
			<ClientSPACEZips12><![CDATA[02462]]></ClientSPACEZips12>
			<ClientSPACEZips13><![CDATA[02482]]></ClientSPACEZips13>
			<ClientSPACEZips14><![CDATA[01864]]></ClientSPACEZips14>
			<ClientSPACEZips15><![CDATA[01880]]></ClientSPACEZips15>
			<ClientSPACEZips16><![CDATA[02116]]></ClientSPACEZips16>
			<ClientSPACEZips17><![CDATA[02210]]></ClientSPACEZips17>
			<ClientSPACEZips18><![CDATA[02171]]></ClientSPACEZips18>
			<ClientSPACEZips19><![CDATA[02050]]></ClientSPACEZips19>
			<ClientSPACEZips2><![CDATA[02155]]></ClientSPACEZips2>
			<ClientSPACEZips20><![CDATA[]]></ClientSPACEZips20>
			<ClientSPACEZips3><![CDATA[02139]]></ClientSPACEZips3>
			<ClientSPACEZips4><![CDATA[02128]]></ClientSPACEZips4>
			<ClientSPACEZips5><![CDATA[02215]]></ClientSPACEZips5>
			<ClientSPACEZips6><![CDATA[02119]]></ClientSPACEZips6>
			<ClientSPACEZips7><![CDATA[02114]]></ClientSPACEZips7>
			<ClientSPACEZips8><![CDATA[02472]]></ClientSPACEZips8>
			<ClientSPACEZips9><![CDATA[02145]]></ClientSPACEZips9>
			<County0><![CDATA[Suffolk]]></County0>
			<County1><![CDATA[Worcester]]></County1>
			<County10><![CDATA[Suffolk Countyu]]></County10>
			<County11><![CDATA[Barnstable County]]></County11>
			<County12><![CDATA[unknown]]></County12>
			<County13><![CDATA[]]></County13>
			<County2><![CDATA[Middlesex]]></County2>
			<County3><![CDATA[Suffolk County]]></County3>
			<County4><![CDATA[Essex County]]></County4>
			<County5><![CDATA[Middlesex County]]></County5>
			<County6><![CDATA[Norfolk County]]></County6>
			<County7><![CDATA[Plymouth County]]></County7>
			<County8><![CDATA[Worcester County]]></County8>
			<County9><![CDATA[Bristol County]]></County9>
			<InspectionSPACECity0><![CDATA[Brighton]]></InspectionSPACECity0>
			<InspectionSPACECity1><![CDATA[Boston]]></InspectionSPACECity1>
			<InspectionSPACECity10><![CDATA[South Boston]]></InspectionSPACECity10>
			<InspectionSPACECity100><![CDATA[Dover]]></InspectionSPACECity100>
			<InspectionSPACECity101><![CDATA[Swampscott]]></InspectionSPACECity101>
			<InspectionSPACECity102><![CDATA[Millbury]]></InspectionSPACECity102>
			<InspectionSPACECity103><![CDATA[Westford]]></InspectionSPACECity103>
			<InspectionSPACECity104><![CDATA[Milford]]></InspectionSPACECity104>
			<InspectionSPACECity105><![CDATA[East Boston]]></InspectionSPACECity105>
			<InspectionSPACECity106><![CDATA[Mansfield]]></InspectionSPACECity106>
			<InspectionSPACECity107><![CDATA[Westwood]]></InspectionSPACECity107>
			<InspectionSPACECity108><![CDATA[Manchester-by-the-Sea]]></InspectionSPACECity108>
			<InspectionSPACECity109><![CDATA[Sudbury]]></InspectionSPACECity109>
			<InspectionSPACECity11><![CDATA[Medford]]></InspectionSPACECity11>
			<InspectionSPACECity110><![CDATA[Leicester]]></InspectionSPACECity110>
			<InspectionSPACECity111><![CDATA[Norwood]]></InspectionSPACECity111>
			<InspectionSPACECity112><![CDATA[Stoneham]]></InspectionSPACECity112>
			<InspectionSPACECity113><![CDATA[Weston]]></InspectionSPACECity113>
			<InspectionSPACECity114><![CDATA[Saugus]]></InspectionSPACECity114>
			<InspectionSPACECity115><![CDATA[Mashpee]]></InspectionSPACECity115>
			<InspectionSPACECity116><![CDATA[West Boylston]]></InspectionSPACECity116>
			<InspectionSPACECity117><![CDATA[Canton]]></InspectionSPACECity117>
			<InspectionSPACECity118><![CDATA[North Andover]]></InspectionSPACECity118>
			<InspectionSPACECity119><![CDATA[Gloucester]]></InspectionSPACECity119>
			<InspectionSPACECity12><![CDATA[Walpole]]></InspectionSPACECity12>
			<InspectionSPACECity120><![CDATA[Rockland]]></InspectionSPACECity120>
			<InspectionSPACECity121><![CDATA[Scituate]]></InspectionSPACECity121>
			<InspectionSPACECity122><![CDATA[North Reading]]></InspectionSPACECity122>
			<InspectionSPACECity123><![CDATA[Southborough]]></InspectionSPACECity123>
			<InspectionSPACECity124><![CDATA[Concord]]></InspectionSPACECity124>
			<InspectionSPACECity125><![CDATA[Duxbury]]></InspectionSPACECity125>
			<InspectionSPACECity126><![CDATA[]]></InspectionSPACECity126>
			<InspectionSPACECity13><![CDATA[Abington]]></InspectionSPACECity13>
			<InspectionSPACECity14><![CDATA[Grafton]]></InspectionSPACECity14>
			<InspectionSPACECity15><![CDATA[Ashland]]></InspectionSPACECity15>
			<InspectionSPACECity16><![CDATA[Westborough]]></InspectionSPACECity16>
			<InspectionSPACECity17><![CDATA[Melrose]]></InspectionSPACECity17>
			<InspectionSPACECity18><![CDATA[Beverly]]></InspectionSPACECity18>
			<InspectionSPACECity19><![CDATA[Uxbridge]]></InspectionSPACECity19>
			<InspectionSPACECity2><![CDATA[Southboro]]></InspectionSPACECity2>
			<InspectionSPACECity20><![CDATA[Haverhill]]></InspectionSPACECity20>
			<InspectionSPACECity21><![CDATA[Hull]]></InspectionSPACECity21>
			<InspectionSPACECity22><![CDATA[Hamilton]]></InspectionSPACECity22>
			<InspectionSPACECity23><![CDATA[Salem]]></InspectionSPACECity23>
			<InspectionSPACECity24><![CDATA[Billerica]]></InspectionSPACECity24>
			<InspectionSPACECity25><![CDATA[Charlestown]]></InspectionSPACECity25>
			<InspectionSPACECity26><![CDATA[Winthrop]]></InspectionSPACECity26>
			<InspectionSPACECity27><![CDATA[Holbrook]]></InspectionSPACECity27>
			<InspectionSPACECity28><![CDATA[Maynard]]></InspectionSPACECity28>
			<InspectionSPACECity29><![CDATA[Chelsea]]></InspectionSPACECity29>
			<InspectionSPACECity3><![CDATA[Somerville]]></InspectionSPACECity3>
			<InspectionSPACECity30><![CDATA[West Roxbury]]></InspectionSPACECity30>
			<InspectionSPACECity31><![CDATA[Acton]]></InspectionSPACECity31>
			<InspectionSPACECity32><![CDATA[North Attleborough]]></InspectionSPACECity32>
			<InspectionSPACECity33><![CDATA[Needham]]></InspectionSPACECity33>
			<InspectionSPACECity34><![CDATA[Marblehead]]></InspectionSPACECity34>
			<InspectionSPACECity35><![CDATA[Worcester]]></InspectionSPACECity35>
			<InspectionSPACECity36><![CDATA[Brookline]]></InspectionSPACECity36>
			<InspectionSPACECity37><![CDATA[Dorchester]]></InspectionSPACECity37>
			<InspectionSPACECity38><![CDATA[Boxford]]></InspectionSPACECity38>
			<InspectionSPACECity39><![CDATA[Franklin]]></InspectionSPACECity39>
			<InspectionSPACECity4><![CDATA[Arlington]]></InspectionSPACECity4>
			<InspectionSPACECity40><![CDATA[Randolph]]></InspectionSPACECity40>
			<InspectionSPACECity41><![CDATA[Woburn]]></InspectionSPACECity41>
			<InspectionSPACECity42><![CDATA[Tyngsborough]]></InspectionSPACECity42>
			<InspectionSPACECity43><![CDATA[Hyde Park]]></InspectionSPACECity43>
			<InspectionSPACECity44><![CDATA[Braintree]]></InspectionSPACECity44>
			<InspectionSPACECity45><![CDATA[Belmont]]></InspectionSPACECity45>
			<InspectionSPACECity46><![CDATA[Watertown]]></InspectionSPACECity46>
			<InspectionSPACECity47><![CDATA[Sutton]]></InspectionSPACECity47>
			<InspectionSPACECity48><![CDATA[Everett]]></InspectionSPACECity48>
			<InspectionSPACECity49><![CDATA[Wilmington]]></InspectionSPACECity49>
			<InspectionSPACECity5><![CDATA[Lynn]]></InspectionSPACECity5>
			<InspectionSPACECity50><![CDATA[Cambridge]]></InspectionSPACECity50>
			<InspectionSPACECity51><![CDATA[Andover]]></InspectionSPACECity51>
			<InspectionSPACECity52><![CDATA[Sharon]]></InspectionSPACECity52>
			<InspectionSPACECity53><![CDATA[Sherborn]]></InspectionSPACECity53>
			<InspectionSPACECity54><![CDATA[Brockton]]></InspectionSPACECity54>
			<InspectionSPACECity55><![CDATA[Malden]]></InspectionSPACECity55>
			<InspectionSPACECity56><![CDATA[Hudson]]></InspectionSPACECity56>
			<InspectionSPACECity57><![CDATA[Auburn]]></InspectionSPACECity57>
			<InspectionSPACECity58><![CDATA[Wayland]]></InspectionSPACECity58>
			<InspectionSPACECity59><![CDATA[Chelmsford]]></InspectionSPACECity59>
			<InspectionSPACECity6><![CDATA[Revere]]></InspectionSPACECity6>
			<InspectionSPACECity60><![CDATA[Methuen]]></InspectionSPACECity60>
			<InspectionSPACECity61><![CDATA[Topsfield]]></InspectionSPACECity61>
			<InspectionSPACECity62><![CDATA[Lowell]]></InspectionSPACECity62>
			<InspectionSPACECity63><![CDATA[Newton]]></InspectionSPACECity63>
			<InspectionSPACECity64><![CDATA[Georgetown]]></InspectionSPACECity64>
			<InspectionSPACECity65><![CDATA[Cohasset]]></InspectionSPACECity65>
			<InspectionSPACECity66><![CDATA[Middleton]]></InspectionSPACECity66>
			<InspectionSPACECity67><![CDATA[N. Easton]]></InspectionSPACECity67>
			<InspectionSPACECity68><![CDATA[Wellesley]]></InspectionSPACECity68>
			<InspectionSPACECity69><![CDATA[Natick]]></InspectionSPACECity69>
			<InspectionSPACECity7><![CDATA[Attleboro]]></InspectionSPACECity7>
			<InspectionSPACECity70><![CDATA[Bedford]]></InspectionSPACECity70>
			<InspectionSPACECity71><![CDATA[Newburyport]]></InspectionSPACECity71>
			<InspectionSPACECity72><![CDATA[Ipswich]]></InspectionSPACECity72>
			<InspectionSPACECity73><![CDATA[Bellingham]]></InspectionSPACECity73>
			<InspectionSPACECity74><![CDATA[Jamaica Plain]]></InspectionSPACECity74>
			<InspectionSPACECity75><![CDATA[Everette]]></InspectionSPACECity75>
			<InspectionSPACECity76><![CDATA[Groton]]></InspectionSPACECity76>
			<InspectionSPACECity77><![CDATA[Reading]]></InspectionSPACECity77>
			<InspectionSPACECity78><![CDATA[Quincy]]></InspectionSPACECity78>
			<InspectionSPACECity79><![CDATA[Tewksbury]]></InspectionSPACECity79>
			<InspectionSPACECity8><![CDATA[Waltham]]></InspectionSPACECity8>
			<InspectionSPACECity80><![CDATA[Norton]]></InspectionSPACECity80>
			<InspectionSPACECity81><![CDATA[Lexington]]></InspectionSPACECity81>
			<InspectionSPACECity82><![CDATA[Bolton]]></InspectionSPACECity82>
			<InspectionSPACECity83><![CDATA[Burlington]]></InspectionSPACECity83>
			<InspectionSPACECity84><![CDATA[Framingham]]></InspectionSPACECity84>
			<InspectionSPACECity85><![CDATA[Milton]]></InspectionSPACECity85>
			<InspectionSPACECity86><![CDATA[Wakefield]]></InspectionSPACECity86>
			<InspectionSPACECity87><![CDATA[Ayer]]></InspectionSPACECity87>
			<InspectionSPACECity88><![CDATA[Medfield]]></InspectionSPACECity88>
			<InspectionSPACECity89><![CDATA[Lynnfield]]></InspectionSPACECity89>
			<InspectionSPACECity9><![CDATA[Weymouth]]></InspectionSPACECity9>
			<InspectionSPACECity90><![CDATA[Dedham]]></InspectionSPACECity90>
			<InspectionSPACECity91><![CDATA[Medway]]></InspectionSPACECity91>
			<InspectionSPACECity92><![CDATA[Danvers]]></InspectionSPACECity92>
			<InspectionSPACECity93><![CDATA[Dracut]]></InspectionSPACECity93>
			<InspectionSPACECity94><![CDATA[Hingham]]></InspectionSPACECity94>
			<InspectionSPACECity95><![CDATA[Foxborough]]></InspectionSPACECity95>
			<InspectionSPACECity96><![CDATA[Stoughton]]></InspectionSPACECity96>
			<InspectionSPACECity97><![CDATA[Peabody]]></InspectionSPACECity97>
			<InspectionSPACECity98><![CDATA[Holliston]]></InspectionSPACECity98>
			<InspectionSPACECity99><![CDATA[Winchester]]></InspectionSPACECity99>
			<InspectionSPACECountry0><![CDATA[US]]></InspectionSPACECountry0>
			<InspectionSPACECountry1><![CDATA[]]></InspectionSPACECountry1>
			<InspectionSPACEState0><![CDATA[MA]]></InspectionSPACEState0>
			<InspectionSPACEState1><![CDATA[]]></InspectionSPACEState1>
			<InspectionSPACEZips0><![CDATA[02135]]></InspectionSPACEZips0>
			<InspectionSPACEZips1><![CDATA[02118]]></InspectionSPACEZips1>
			<InspectionSPACEZips10><![CDATA[02155]]></InspectionSPACEZips10>
			<InspectionSPACEZips100><![CDATA[01826]]></InspectionSPACEZips100>
			<InspectionSPACEZips101><![CDATA[02043]]></InspectionSPACEZips101>
			<InspectionSPACEZips102><![CDATA[02035]]></InspectionSPACEZips102>
			<InspectionSPACEZips103><![CDATA[02072]]></InspectionSPACEZips103>
			<InspectionSPACEZips104><![CDATA[01904]]></InspectionSPACEZips104>
			<InspectionSPACEZips105><![CDATA[02188]]></InspectionSPACEZips105>
			<InspectionSPACEZips106><![CDATA[01960]]></InspectionSPACEZips106>
			<InspectionSPACEZips107><![CDATA[01746]]></InspectionSPACEZips107>
			<InspectionSPACEZips108><![CDATA[01902]]></InspectionSPACEZips108>
			<InspectionSPACEZips109><![CDATA[01890]]></InspectionSPACEZips109>
			<InspectionSPACEZips11><![CDATA[02081]]></InspectionSPACEZips11>
			<InspectionSPACEZips110><![CDATA[02030]]></InspectionSPACEZips110>
			<InspectionSPACEZips111><![CDATA[01907]]></InspectionSPACEZips111>
			<InspectionSPACEZips112><![CDATA[01527]]></InspectionSPACEZips112>
			<InspectionSPACEZips113><![CDATA[01609]]></InspectionSPACEZips113>
			<InspectionSPACEZips114><![CDATA[02125]]></InspectionSPACEZips114>
			<InspectionSPACEZips115><![CDATA[02134]]></InspectionSPACEZips115>
			<InspectionSPACEZips116><![CDATA[01886]]></InspectionSPACEZips116>
			<InspectionSPACEZips117><![CDATA[02472]]></InspectionSPACEZips117>
			<InspectionSPACEZips118><![CDATA[01757]]></InspectionSPACEZips118>
			<InspectionSPACEZips119><![CDATA[02420]]></InspectionSPACEZips119>
			<InspectionSPACEZips12><![CDATA[02351]]></InspectionSPACEZips12>
			<InspectionSPACEZips120><![CDATA[02132]]></InspectionSPACEZips120>
			<InspectionSPACEZips121><![CDATA[02119]]></InspectionSPACEZips121>
			<InspectionSPACEZips122><![CDATA[02481]]></InspectionSPACEZips122>
			<InspectionSPACEZips123><![CDATA[02048]]></InspectionSPACEZips123>
			<InspectionSPACEZips124><![CDATA[02090]]></InspectionSPACEZips124>
			<InspectionSPACEZips125><![CDATA[02452]]></InspectionSPACEZips125>
			<InspectionSPACEZips126><![CDATA[02124]]></InspectionSPACEZips126>
			<InspectionSPACEZips127><![CDATA[01944]]></InspectionSPACEZips127>
			<InspectionSPACEZips128><![CDATA[01776]]></InspectionSPACEZips128>
			<InspectionSPACEZips129><![CDATA[02130]]></InspectionSPACEZips129>
			<InspectionSPACEZips13><![CDATA[01519]]></InspectionSPACEZips13>
			<InspectionSPACEZips130><![CDATA[02127]]></InspectionSPACEZips130>
			<InspectionSPACEZips131><![CDATA[02184]]></InspectionSPACEZips131>
			<InspectionSPACEZips132><![CDATA[02110]]></InspectionSPACEZips132>
			<InspectionSPACEZips133><![CDATA[01611]]></InspectionSPACEZips133>
			<InspectionSPACEZips134><![CDATA[02459]]></InspectionSPACEZips134>
			<InspectionSPACEZips135><![CDATA[02062]]></InspectionSPACEZips135>
			<InspectionSPACEZips136><![CDATA[02180]]></InspectionSPACEZips136>
			<InspectionSPACEZips137><![CDATA[02139]]></InspectionSPACEZips137>
			<InspectionSPACEZips138><![CDATA[02464]]></InspectionSPACEZips138>
			<InspectionSPACEZips139><![CDATA[02126]]></InspectionSPACEZips139>
			<InspectionSPACEZips14><![CDATA[02451]]></InspectionSPACEZips14>
			<InspectionSPACEZips140><![CDATA[02493]]></InspectionSPACEZips140>
			<InspectionSPACEZips141><![CDATA[01906]]></InspectionSPACEZips141>
			<InspectionSPACEZips142><![CDATA[02649]]></InspectionSPACEZips142>
			<InspectionSPACEZips143><![CDATA[02138]]></InspectionSPACEZips143>
			<InspectionSPACEZips144><![CDATA[02122]]></InspectionSPACEZips144>
			<InspectionSPACEZips145><![CDATA[02131]]></InspectionSPACEZips145>
			<InspectionSPACEZips146><![CDATA[02170]]></InspectionSPACEZips146>
			<InspectionSPACEZips147><![CDATA[02116]]></InspectionSPACEZips147>
			<InspectionSPACEZips148><![CDATA[01583]]></InspectionSPACEZips148>
			<InspectionSPACEZips149><![CDATA[02021]]></InspectionSPACEZips149>
			<InspectionSPACEZips15><![CDATA[01721]]></InspectionSPACEZips15>
			<InspectionSPACEZips150><![CDATA[02210]]></InspectionSPACEZips150>
			<InspectionSPACEZips151><![CDATA[02114]]></InspectionSPACEZips151>
			<InspectionSPACEZips152><![CDATA[02465]]></InspectionSPACEZips152>
			<InspectionSPACEZips153><![CDATA[01845]]></InspectionSPACEZips153>
			<InspectionSPACEZips154><![CDATA[01930]]></InspectionSPACEZips154>
			<InspectionSPACEZips155><![CDATA[02370]]></InspectionSPACEZips155>
			<InspectionSPACEZips156><![CDATA[02066]]></InspectionSPACEZips156>
			<InspectionSPACEZips157><![CDATA[02460]]></InspectionSPACEZips157>
			<InspectionSPACEZips158><![CDATA[01850]]></InspectionSPACEZips158>
			<InspectionSPACEZips159><![CDATA[02462]]></InspectionSPACEZips159>
			<InspectionSPACEZips16><![CDATA[01581]]></InspectionSPACEZips16>
			<InspectionSPACEZips160><![CDATA[01864]]></InspectionSPACEZips160>
			<InspectionSPACEZips161><![CDATA[01772]]></InspectionSPACEZips161>
			<InspectionSPACEZips162><![CDATA[02301]]></InspectionSPACEZips162>
			<InspectionSPACEZips163><![CDATA[01863]]></InspectionSPACEZips163>
			<InspectionSPACEZips164><![CDATA[01742]]></InspectionSPACEZips164>
			<InspectionSPACEZips165><![CDATA[02332]]></InspectionSPACEZips165>
			<InspectionSPACEZips166><![CDATA[]]></InspectionSPACEZips166>
			<InspectionSPACEZips17><![CDATA[02176]]></InspectionSPACEZips17>
			<InspectionSPACEZips18><![CDATA[02189]]></InspectionSPACEZips18>
			<InspectionSPACEZips19><![CDATA[01915]]></InspectionSPACEZips19>
			<InspectionSPACEZips2><![CDATA[02143]]></InspectionSPACEZips2>
			<InspectionSPACEZips20><![CDATA[01569]]></InspectionSPACEZips20>
			<InspectionSPACEZips21><![CDATA[01832]]></InspectionSPACEZips21>
			<InspectionSPACEZips22><![CDATA[02045]]></InspectionSPACEZips22>
			<InspectionSPACEZips23><![CDATA[01982]]></InspectionSPACEZips23>
			<InspectionSPACEZips24><![CDATA[01970]]></InspectionSPACEZips24>
			<InspectionSPACEZips25><![CDATA[02129]]></InspectionSPACEZips25>
			<InspectionSPACEZips26><![CDATA[02343]]></InspectionSPACEZips26>
			<InspectionSPACEZips27><![CDATA[01754]]></InspectionSPACEZips27>
			<InspectionSPACEZips28><![CDATA[02150]]></InspectionSPACEZips28>
			<InspectionSPACEZips29><![CDATA[01720]]></InspectionSPACEZips29>
			<InspectionSPACEZips3><![CDATA[02113]]></InspectionSPACEZips3>
			<InspectionSPACEZips30><![CDATA[02474]]></InspectionSPACEZips30>
			<InspectionSPACEZips31><![CDATA[01821]]></InspectionSPACEZips31>
			<InspectionSPACEZips32><![CDATA[02760]]></InspectionSPACEZips32>
			<InspectionSPACEZips33><![CDATA[02476]]></InspectionSPACEZips33>
			<InspectionSPACEZips34><![CDATA[02494]]></InspectionSPACEZips34>
			<InspectionSPACEZips35><![CDATA[01945]]></InspectionSPACEZips35>
			<InspectionSPACEZips36><![CDATA[02121]]></InspectionSPACEZips36>
			<InspectionSPACEZips37><![CDATA[01602]]></InspectionSPACEZips37>
			<InspectionSPACEZips38><![CDATA[01921]]></InspectionSPACEZips38>
			<InspectionSPACEZips39><![CDATA[02038]]></InspectionSPACEZips39>
			<InspectionSPACEZips4><![CDATA[02111]]></InspectionSPACEZips4>
			<InspectionSPACEZips40><![CDATA[02368]]></InspectionSPACEZips40>
			<InspectionSPACEZips41><![CDATA[01801]]></InspectionSPACEZips41>
			<InspectionSPACEZips42><![CDATA[01879]]></InspectionSPACEZips42>
			<InspectionSPACEZips43><![CDATA[02191]]></InspectionSPACEZips43>
			<InspectionSPACEZips44><![CDATA[02478]]></InspectionSPACEZips44>
			<InspectionSPACEZips45><![CDATA[02149]]></InspectionSPACEZips45>
			<InspectionSPACEZips46><![CDATA[01887]]></InspectionSPACEZips46>
			<InspectionSPACEZips47><![CDATA[01810]]></InspectionSPACEZips47>
			<InspectionSPACEZips48><![CDATA[02140]]></InspectionSPACEZips48>
			<InspectionSPACEZips49><![CDATA[02067]]></InspectionSPACEZips49>
			<InspectionSPACEZips5><![CDATA[01901]]></InspectionSPACEZips5>
			<InspectionSPACEZips50><![CDATA[01770]]></InspectionSPACEZips50>
			<InspectionSPACEZips51><![CDATA[01830]]></InspectionSPACEZips51>
			<InspectionSPACEZips52><![CDATA[02302]]></InspectionSPACEZips52>
			<InspectionSPACEZips53><![CDATA[02148]]></InspectionSPACEZips53>
			<InspectionSPACEZips54><![CDATA[01749]]></InspectionSPACEZips54>
			<InspectionSPACEZips55><![CDATA[02128]]></InspectionSPACEZips55>
			<InspectionSPACEZips56><![CDATA[01778]]></InspectionSPACEZips56>
			<InspectionSPACEZips57><![CDATA[01824]]></InspectionSPACEZips57>
			<InspectionSPACEZips58><![CDATA[01844]]></InspectionSPACEZips58>
			<InspectionSPACEZips59><![CDATA[02145]]></InspectionSPACEZips59>
			<InspectionSPACEZips6><![CDATA[02151]]></InspectionSPACEZips6>
			<InspectionSPACEZips60><![CDATA[01983]]></InspectionSPACEZips60>
			<InspectionSPACEZips61><![CDATA[01852]]></InspectionSPACEZips61>
			<InspectionSPACEZips62><![CDATA[02458]]></InspectionSPACEZips62>
			<InspectionSPACEZips63><![CDATA[02141]]></InspectionSPACEZips63>
			<InspectionSPACEZips64><![CDATA[01833]]></InspectionSPACEZips64>
			<InspectionSPACEZips65><![CDATA[02025]]></InspectionSPACEZips65>
			<InspectionSPACEZips66><![CDATA[01949]]></InspectionSPACEZips66>
			<InspectionSPACEZips67><![CDATA[02356]]></InspectionSPACEZips67>
			<InspectionSPACEZips68><![CDATA[02482]]></InspectionSPACEZips68>
			<InspectionSPACEZips69><![CDATA[01760]]></InspectionSPACEZips69>
			<InspectionSPACEZips7><![CDATA[02453]]></InspectionSPACEZips7>
			<InspectionSPACEZips70><![CDATA[01730]]></InspectionSPACEZips70>
			<InspectionSPACEZips71><![CDATA[01862]]></InspectionSPACEZips71>
			<InspectionSPACEZips72><![CDATA[01950]]></InspectionSPACEZips72>
			<InspectionSPACEZips73><![CDATA[01938]]></InspectionSPACEZips73>
			<InspectionSPACEZips74><![CDATA[02019]]></InspectionSPACEZips74>
			<InspectionSPACEZips75><![CDATA[02446]]></InspectionSPACEZips75>
			<InspectionSPACEZips76><![CDATA[01450]]></InspectionSPACEZips76>
			<InspectionSPACEZips77><![CDATA[02468]]></InspectionSPACEZips77>
			<InspectionSPACEZips78><![CDATA[01867]]></InspectionSPACEZips78>
			<InspectionSPACEZips79><![CDATA[02169]]></InspectionSPACEZips79>
			<InspectionSPACEZips8><![CDATA[02190]]></InspectionSPACEZips8>
			<InspectionSPACEZips80><![CDATA[02152]]></InspectionSPACEZips80>
			<InspectionSPACEZips81><![CDATA[01876]]></InspectionSPACEZips81>
			<InspectionSPACEZips82><![CDATA[02445]]></InspectionSPACEZips82>
			<InspectionSPACEZips83><![CDATA[02766]]></InspectionSPACEZips83>
			<InspectionSPACEZips84><![CDATA[02421]]></InspectionSPACEZips84>
			<InspectionSPACEZips85><![CDATA[02108]]></InspectionSPACEZips85>
			<InspectionSPACEZips86><![CDATA[01740]]></InspectionSPACEZips86>
			<InspectionSPACEZips87><![CDATA[01803]]></InspectionSPACEZips87>
			<InspectionSPACEZips88><![CDATA[01701]]></InspectionSPACEZips88>
			<InspectionSPACEZips89><![CDATA[02186]]></InspectionSPACEZips89>
			<InspectionSPACEZips9><![CDATA[01905]]></InspectionSPACEZips9>
			<InspectionSPACEZips90><![CDATA[01880]]></InspectionSPACEZips90>
			<InspectionSPACEZips91><![CDATA[02492]]></InspectionSPACEZips91>
			<InspectionSPACEZips92><![CDATA[01432]]></InspectionSPACEZips92>
			<InspectionSPACEZips93><![CDATA[02052]]></InspectionSPACEZips93>
			<InspectionSPACEZips94><![CDATA[01940]]></InspectionSPACEZips94>
			<InspectionSPACEZips95><![CDATA[02461]]></InspectionSPACEZips95>
			<InspectionSPACEZips96><![CDATA[02144]]></InspectionSPACEZips96>
			<InspectionSPACEZips97><![CDATA[02026]]></InspectionSPACEZips97>
			<InspectionSPACEZips98><![CDATA[02053]]></InspectionSPACEZips98>
			<InspectionSPACEZips99><![CDATA[01923]]></InspectionSPACEZips99>
			<KitList0><![CDATA[]]></KitList0>
		</Strings>
		<Ints>
		</Ints>
	</Settings>
	<Warn>
		<Strings>
		</Strings>
		<Ints>
			<EditPrintDoc>1</EditPrintDoc>
			<SendCloudSettings>1</SendCloudSettings>
			<excluded_item_data>1</excluded_item_data>
			<flagcol>0</flagcol>
			<iii_no_comment>1</iii_no_comment>
			<item_flagged>0</item_flagged>
			<pic_no_comment>1</pic_no_comment>
			<picedit>0</picedit>
			<quick_add_comment>0</quick_add_comment>
			<smart_text_inc>0</smart_text_inc>
			<smcommentadd>0</smcommentadd>
			<smgencommentadd>0</smgencommentadd>
			<smnoparent>1</smnoparent>
			<summary_no_comment>1</summary_no_comment>
			<unanswered_item>0</unanswered_item>
		</Ints>
	</Warn>
	<print>
		<Strings>
			<CommentsTitle><![CDATA[]]></CommentsTitle>
			<Footer><![CDATA[Report # *reportinfo.reportID*, *reportinfo.address1* &amp;b Page &amp;p of &amp;P]]></Footer>
			<Format><![CDATA[FormatCohen]]></Format>
			<Header><![CDATA[*reportinfo.inspectorCompany* &amp;b *client.lname1*]]></Header>
			<LargeIcon><![CDATA[]]></LargeIcon>
			<MediaTitle><![CDATA[]]></MediaTitle>
			<PrintLogo1><![CDATA[150px.jpg]]></PrintLogo1>
			<PrintLogo10><![CDATA[]]></PrintLogo10>
			<PrintLogo2><![CDATA[635stamp.jpg]]></PrintLogo2>
			<PrintLogo3><![CDATA[]]></PrintLogo3>
			<PrintLogo4><![CDATA[]]></PrintLogo4>
			<PrintLogo5><![CDATA[]]></PrintLogo5>
			<PrintLogo6><![CDATA[]]></PrintLogo6>
			<PrintLogo7><![CDATA[]]></PrintLogo7>
			<PrintLogo8><![CDATA[]]></PrintLogo8>
			<PrintLogo9><![CDATA[]]></PrintLogo9>
			<QuestionTitle><![CDATA[Inspection Items]]></QuestionTitle>
			<SMTitle><![CDATA[Component Descriptions and Methods of Observation]]></SMTitle>
			<SmallIcon><![CDATA[C:\Program Files (x86)\HomeGauge5\appdata\images\shgi-sm.gif]]></SmallIcon>
			<Style><![CDATA[Black.css]]></Style>
		</Strings>
		<Ints>
			<PageBreak>1</PageBreak>
			<TexasPreprint>0</TexasPreprint>
			<UseEscrow>0</UseEscrow>
			<addItemizedNumbers>1</addItemizedNumbers>
			<centerPics>0</centerPics>
			<pictureLabels>0</pictureLabels>
			<picturesAboveText>0</picturesAboveText>
			<printset>1</printset>
			<uploadStoredPics>0</uploadStoredPics>
			<uploadVR>0</uploadVR>
		</Ints>
	</print>
</HGSettings>
